<h2>Menú del día</h2>
<div>
  <h3>{{plato1.nombre}}</h3>
  <img src="../assets/Spaguetti.jpg" alt="{{plato1.nombre}}">
  <p>{{plato1.categoria}} - ${{plato1.precio}}</p>
  <p>{{plato1.descripcion}}</p>
</div>
<div>
  <h3>{{plato2.nombre}}</h3>
  <img src="../assets/tacos_mexicanos.jpg" alt="{{plato2.nombre}}">
  <p>{{plato2.categoria}} - ${{plato2.precio}}</p>
  <p>{{plato2.descripcion}}</p>
</div>
<div>
  <h3>{{plato3.nombre}}</h3>
  <img src="../assets/chuleta.jpg" alt="{{plato3.nombre}}">
  <p>{{plato3.categoria}} - ${{plato3.precio}}</p>
  <p>{{plato3.descripcion}}</p>
</div>

