<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/"></a>
  <h3>Restaurante de comida</h3>
</nav>

<section>

  <h4>Menu</h4>
  <div class="left">
    <img src="/assets/Pizza.jpg" alt="Pizza" width="400px" height="200px">
 
      <p>PIZZA ARTESANAL</p>
  

  <img src="/assets/dona.jpg" alt="Pizza"  width="400px" height="200px">

      <p>DONA</p>
  

  <img src="/assets/tiramisu.jpg" alt="Pizza"  width="400px" height="200px">

      <p>TIRAMISU(ITALIA)</p>
  

  <img src="/assets/croquetas.jpg" alt="Pizza"  width="400px" height="200px">
  
      <p>CROQUETAS DE PAPA</p>



  </div>

  <div class="right">
    <img src="/assets/bebida.jpg" alt="Pizza" width="400px" height="200px">
 
      <p>BEBIDA</p>
  

  <img src="/assets/postre.jpg" alt="Pizza"  width="400px" height="200px">

      <p>POSTRE</p>
  

  <img src="/assets/pasteljapones.jpg" alt="Pizza"  width="400px" height="200px">

      <p>PASTEL DE QUESO JAPONES</p>
  

  <img src="/assets/pastaconatun.jpg" alt="Pizza"  width="400px" height="200px">
  
      <p>PASTA CON ATUN </p>



  </div>
  
</section>


